<!doctype html>
<html>
  <head>
    <title><%= settings.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/public/styles/libraries-gateway.css">

    <script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript">document.documentElement.className += " js";</script>
  </head>
  <body data-page="<%= settings.id %>" class="campl-theme-1 campl-homepage-content">

    <!-- Global header -->
    <% include partials/globals/header.ejs %>

    <!-- Page content -->
    <%- partials.body %>

    <!-- Global footer -->
    <% include partials/globals/footer.ejs %>

    <!-- Scripts -->
    <script src="/public/components/requirejs/require.js" data-main="/public/scripts/main.js"></script>
  </body>
</html>
