*.dat
*.DS_STORE
*.gz
*.idea
*.log
*.out
*.pid
*.seed

node_modules/*
!node_modules/lg-twitter
!node_modules/lg-util

public/components/*
!public/components/project-light

public/styles

config_private.js

npm-debug.log
