#lg-search-progress {
    height: 10px;
    margin-bottom: 0;
    border-radius: 0;
}

#lg-score {
    display: none;
    position: fixed;
    right: 50px;
    background-color: #FAFAFA;
    border: 1px solid #EEEEEE;
    z-index: 1000;
    min-width: 328px;
}

#lg-score .row {
    padding: 0;
    margin: 0;
}

#lg-score .row-title {
    border-bottom: 1px solid #EEEEEE;
}

#lg-score .row-data:nth-child(even) {
    background-color: #F9F9F9;
}

#lg-score .row-data:hover {
    background-color: #F3F3F3;
}

#lg-score .row .col {
    padding: 3px 0;
    margin: 0;
    text-align: center;
}

#lg-score .row .col:first-child {
    padding-right: 3px;
}

#lg-score .row .col:not(:last-child) {
    border-right: 1px solid #EEEEEE;
}

#lg-score .row .col-title {
    font-weight: bold;
}

#lg-score .row-data .col-title{
    text-align: right;
}

.lg-col-increase {
    text-align: right;
}

.lg-results-list li{
    margin-bottom: 15px;
    padding: 3px 10px;
}
