<!-- Page header -->
<% include ../partials/globals/page-header %>

<!-- Custom header -->
<div class="campl-row campl-page-header">

  <!-- Navigation -->
  <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
    <% include ../partials/globals/navigation %>
  </div>

  <!-- Page title -->
  <div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
    <div class="campl-content-container">
      <h2 class="campl-sub-title">Library blogs</h2>
    </div>
  </div>
</div>

<!-- Content -->
<div class="campl-row campl-content campl-recessed-content">
  <div class="campl-wrap clearfix">
    <div class="campl-column8">
      <% if (data.entries) { %>

        <!-- Blog posts -->
        <% for (entry in data.entries) { %>
          <div class="campl-content-container">
            <article class="campl-horizontal-teaser campl-teaser">
              <header>
                <h3 class="campl-teaser-title"><%= data.entries[entry].title %></h3>
              </header>
              <p><%- data.entries[entry].summary %></p>
              <a href="<%= data.entries[entry].link %>" class="campl-primary-cta" target="_blank">Read more</a>
            </article>
          </div>
        <% } %>

        <!-- Pagination -->
        <%- data.partials.tplPagination %>

      <% } %>
    </div>

    <div class="campl-column4 campl-secondary-content">
      <section class="campl-content-container">
        <header class="canpl-heading-container">
          <h2>Library blogs</h2>
        </header>
        <ul class="campl-unstyled-list campl-related-links">
          <li>
            <a href="http://backfromthestacks.blogspot.co.uk/" target="_blank">Back from the Stacks (Newnham College Library)</a>
          </li>
          <li>
            <a href="http://centralsciencelibrary.blogspot.com/" target="_blank">Central Science Library</a>
          </li>
          <li>
            <a href="http://christslibrary.blogspot.co.uk/" target="_blank">Christ's College Library (general library blog)</a>
          </li>
          <li>
            <a href="http://christstreasures.blogspot.co.uk/" target="_blank">Christ's College Library (special collections blog)</a>
          </li>
          <li>
            <a href="http://www.blogs.jbs.cam.ac.uk/infolib/" target="_blank">CJBS Information & Library blog</a>
          </li>
          <li>
            <a href="http://ebookscambridge.wordpress.com/" target="_blank">eBooks@cambridge</a>
          </li>
          <li>
            <a href="http://ejournalscambridge.wordpress.com/" target="_blank">eResources etc.</a>
          </li>
          <li>
            <a href="http://edfaclib.wordpress.com" target="_blank">FYI: for your information (Education Library)</a>
          </li>
          <li>
            <a href="http://geneticslibrary.blogspot.com/" target="_blank">Genetics Library Blogette</a>
          </li>
          <li>
            <a href="http://www.haddon.archanth.cam.ac.uk/" target="_blank">Haddon Library</a>
          </li>
          <li>
            <a href="http://www.lib.cam.ac.uk/deptserv/rarebooks/incblog" target="_blank">Incunabula Project blog</a>
          </li>
          <li>
            <a href="http://marshlib.blogspot.com/" target="_blank">Marshall Library</a>
          </li>
          <li>
            <a href="http://cambridgemedicallibrary.blogspot.com/" target="_blank">Medical Library</a>
          </li>
          <li>
            <a href="http://musicb3.wordpress.com" target="_blank">MusiCB3 Blog</a>
          </li>
          <li>
            <a href="http://theparkerlibrary.wordpress.com" target="_blank">Parker Library</a>
          </li>
          <li>
            <a href="http://perneward.wordpress.com/" target="_blank">The Perne and Ward Libraries Blog</a>
          </li>
          <li>
            <a href="http://plantscislibrary.blogspot.com/" target="_blank">Plant Sciences Library Blogette</a>
          </li>
          <li>
            <a href="http://quinlibrary.wordpress.com/" target="_blank">Quincentenary Library Blog (Jesus College)</a>
          </li>
          <li>
            <a href="http://saalg.blogspot.com/" target="_blank">SAALG Blog</a>
          </li>
          <li>
            <a href="http://www.lib.cam.ac.uk/deptserv/manuscripts/sassoonblog" target="_blank">Sassoon Project blog</a>
          </li>
          <li>
            <a href="http://www.lib.cam.ac.uk/specialcollections/blog" target="_blank">Special Collections (UL)</a>
          </li>
          <li>
            <a href="http://jerwoodlibrarytrinityhall.wordpress.com/" target="_blank">Jerwood News (Trinity Hall)</a>
          </li>
          <li>
            <a href="http://oldlibrarytrinityhall.wordpress.com" target="_blank">The Old Library at Trinity Hall</a>
          </li>
          <li>
            <a href="http://europeancollections.wordpress.com/" target="_blank">UL: European Collections</a>
          </li>
          <li>
            <a href="http://whipplelib.wordpress.com" target="_blank">Whipple Library Blog</a>
          </li>
          <li>
            <a href="http://balfourlibrary.blogspot.com/" target="_blank">Zoology Library</a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
