<!-- Page header -->
<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix">
    <div class="campl-column12">
      <div class="campl-content-container">
        <div class="campl-breadcrumb" id="breadcrumb">
          <ul class="campl-unstyled-list campl-horizontal-navigation clearfix">
            <li class='first-child'>
              <a href="/" class="campl-home ir">Home</a>
            </li>
            <li>
              <a href="/"><%= title %></a>
            </li>
            <li>
              <p class="campl-current"><%= currentNode.title %></p>
            </li>
          </ul>
        </div>
        <h1 class="campl-page-title"><%= title %></h1>
      </div>
    </div>
  </div>
</div>  

<div class="campl-row campl-page-header"> 
  <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
    <%- partials.navigation %>
  </div>

  <div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
    <div class="campl-column3 campl-spacing-column">
      &nbsp;
    </div>
    <div class="campl-column9">
      <div class="campl-content-container">
        <h2 class="campl-sub-title">Find a library</h2>
      </div>
    </div>
  </div>
</div>
<!-- page-header ends -->

<div class="campl-row campl-content campl-recessed-content">
  <div class="campl-wrap clearfix">
    <div class="campl-column3">
      <div class="campl-tertiary-navigation libraries-panel">
        <div class="campl-tertiary-navigation-structure">
          <div class="filters">
            <form>
              <input type="text" class="js-mini-search mini-search form-control" placeholder="search">
            </form>

            <div class="btn-group js-dropdown-selector-area">
              <button class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="js-value" data-value="anywhere">Anywhere</span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a href="#" class="js-option" data-value="0.5">Within half a mile</a>
                </li>
                <li>
                  <a href="#" class="js-option" data-value="1">Within 1 mile</a>
                </li>
                <li>
                  <a href="#" class="js-option" data-value="2">Within 2 miles</a>
                </li>
                <li>
                  <a href="#" class="js-option" data-value="anywhere">Anywhere</a>
                </li>
              </ul>
            </div>

            <div class="btn-group js-dropdown-selector-alphabet">
              <button class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown">
                <span class="js-value" data-value="all">A-Z</span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a href="#" class="js-option" data-value="all">A-Z</a>
                </li>
                <li>
                  <a href="#" class="js-option" data-value="a">A</a>
                </li>
                <li>
                  <a href="#" class="js-option" data-value="b">B</a>
                </li>
                <li>
                  <a href="#" class="js-option" data-value="c">C</a>
                </li>
                <li>
                  <a href="#" class="js-option" data-value="d">D</a>
                </li>
                <li>
                  <a href="#" class="js-option" data-value="e">E</a>
                </li>
                <li>
                  <a href="#" class="js-option" data-value="f">F</a>
                </li>
                <li>
                  <a href="#" class="js-option" data-value="g">G</a>
                </li>
                <li>
                  <a href="#" class="js-option" data-value="h">H</a>
                </li>
                <li>
                  <a href="#" class="js-option" data-value="i">I</a>
                </li>
                <li>
                  <a href="#" class="js-option" data-value="j">J</a>
                </li>
                <li>
                  <a href="#" class="js-option" data-value="k">K</a>
                </li>
                <li>
                  <a href="#" class="js-option" data-value="l">L</a>
                </li>
                <li>
                  <a href="#" class="js-option" data-value="m">M</a>
                </li>
                <li>
                  <a href="#" class="js-option" data-value="n">N</a>
                </li>
                <li>
                  <a href="#" class="js-option" data-value="o">O</a>
                </li>
                <li>
                  <a href="#" class="js-option" data-value="p">P</a>
                </li>
                <li>
                  <a href="#" class="js-option" data-value="q">Q</a>
                </li>
                <li>
                  <a href="#" class="js-option" data-value="r">R</a>
                </li>
                <li>
                  <a href="#" class="js-option" data-value="s">S</a>
                </li>
                <li>
                  <a href="#" class="js-option" data-value="t">T</a>
                </li>
                <li>
                  <a href="#" class="js-option" data-value="u">U</a>
                </li>
                <li>
                  <a href="#" class="js-option" data-value="v">V</a>
                </li>
                <li>
                  <a href="#" class="js-option" data-value="w">W</a>
                </li>
                <li>
                  <a href="#" class="js-option" data-value="x">X</a>
                </li>
                <li>
                  <a href="#" class="js-option" data-value="y">Y</a>
                </li>
                <li>
                  <a href="#" class="js-option" data-value="z">Z</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="list-group libraries js-libraries"></div>
        </div>
      </div>
    </div>
    <div class="campl-column9">
      <div class="js-maps-container maps-container"></div>
    </div>
  </div>  
</div>
