<!-- Page header -->
<%- partials.header %>

<!-- Custom header -->
<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
    <%- partials.navigation %>
  </div>
  <div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
    <div class="campl-content-container">
      <h2 class="campl-sub-title">Find a resource</h2>
    </div>
  </div>
</div>

<!-- Content -->
<div class="campl-row campl-content campl-recessed-content">
  <div class="campl-wrap clearfix">
    <div class="campl-column8">

      <div class="campl-carousel clearfix campl-banner lg-banner-find-a-resource">
        <div class="campl-carousel-container">
          <ul class="campl-unstyled-list campl-slides">
            <li class="campl-slide campl-column12">
              <div class="image-container">
                <img alt="banner" title="banner" src="/public/images/find-a-resource-banner.jpg" class="campl-scale-with-grid" />
              </div>
              <div class="campl-slide-caption">
                <form class="campl-content-container lg-search-form" action="/find-a-resource" method="get">
                  <%- data.tplSearch %>
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- External links -->
      <section class="campl-content-container">
        <header class="campl-heading-container">
          <h2>External links</h2>
        </header>

        <div class="campl-top-padding lg-two-column-list">
          <div class="lg-column">
            <ul class='campl-unstyled-list campl-related-links'>
              <li><a href="http://wok.mimas.ac.uk/cgi-bin/wayf?idp=https://shib.raven.cam.ac.uk/shibboleth" target="_blank">Web of Science</a></li>
              <li><a href="http://www.worldcat.org" target="_blank">WorldCat</a></li>
              <li><a href="http://www.jstor.org" target="_blank">JSTOR</a></li>
            </ul>
          </div>

          <div class="lg-column">
            <ul class='campl-unstyled-list campl-related-links'>
              <li><a href="http://ci.nii.ac.jp/books/?l=en" target="_blank">Japanese Union Catalogue</a></li>
              <li><a href="http://www.fihrist.org.uk" target="_blank">Fihrist - union catalogue for Arab script manuscripts</a></li>
              <li><a href="http://copac.ac.uk" target="_blank">COPAC</a></li>
            </ul>
          </div>
        </div>
      </section>
      <!-- External links ends -->
    </div>

    <div class="campl-column4 campl-secondary-content">
      <!-- Useful links -->
      <section class="campl-content-container">
        <header class="campl-heading-container">
          <h2>Useful links</h2>
        </header>
        <ul class='campl-unstyled-list campl-related-links'>
          <li><a href="http://www.lib.cam.ac.uk/eresources/access.html" target="_blank">Accessing eresources</a></li>
          <li><a href="http://www.lib.cam.ac.uk/eresources/help/journals/problem.php" target="_blank">Report a problem accessing eresources</a></li>
          <li><a href="http://cudl.lib.cam.ac.uk/" target="_blank">Cambridge University Digital Library</a></li>
          <li><a href="http://www.lib.cam.ac.uk/newton/" target="_blank">Newton and LibrarySearch</a></li>
          <li><a href="http://janus.lib.cam.ac.uk/" target="_blank">JANUS</a></li>
        </ul>
      </section>
      <!-- Useful links ends -->

      <%- include ../partials/globals/promo-researchskills.ejs %>
    </div>
    <!-- End of promo items -->
  </div>
</div>
