<!-- Page header -->
<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix">
    <div class="campl-column12">
      <div class="campl-content-container">
        <div class="campl-breadcrumb" id="breadcrumb">
          <ul class="campl-unstyled-list campl-horizontal-navigation clearfix">
            <li class='first-child'>
              <a href="/" class="campl-home ir">Home</a>
            </li>
            <li>
              <p class="campl-current"><%= title %></p>
            </li>
          </ul>
        </div>
        <h1 class="campl-page-title"><%= title %></h1>
      </div>
    </div>
  </div>
</div>

<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
    <%- partials.navigation %>
  </div>

  <div class="campl-wrap clearfix">
    <div class="campl-column12">
      <div class="section-carousel campl-carousel clearfix campl-banner lg-banner">
        <div class="campl-carousel-container">
          <ul class="campl-unstyled-list campl-slides">
            <li class="campl-slide campl-column12">
              <div class="image-container">
                <img alt="banner" title="banner" src="images/banner.jpg" class="campl-scale-with-grid" />
              </div>
              <div class="campl-slide-caption">
                <div class="campl-no-top-padding">
                  <h2>Find a resource</h2>
                  <div class="campl-search-input">
                    <input id="full-search" type="text" value="" />
                    <input type="image" class="campl-search-submit" alt="search" src="components/project-light/images/interface/btn-search-inpage.png" />
                  </div>
                  <div>
                    <h3>Currently not searchable:</h3>
                    <p>Books, images, video, journals, e-books, papers.</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- page-header ends -->

<div class="campl-row campl-content campl-main-content">
  <div class="campl-wrap clearfix">
    <section class="campl-column6">
      <header class="campl-no-bottom-padding">
        <div class="campl-heading-container">
          <h2>Focus on</h2>
        </div>
      </header>
      <div class="clearfix">
        <article class="campl-content-container">
          <div class="campl-horizontal-teaser campl-teaser clearfix">
            <div class="campl-column4">
              <div class="campl-content-container campl-horizontal-teaser-img">
                <a href="#" class="campl-teaser-img-link">
                  <img alt="" src="images/focus.png" class="campl-scale-with-grid" />
                </a>
              </div>
            </div>
            <div class="campl-column8">
              <div class="campl-content-container campl-horizontal-teaser-txt">
                <header>
                  <h3 class='campl-teaser-title'>
                    <a href="#">Find a resource</a>
                  </h3>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="#" class="campl-primary-cta">Read more</a>
              </div>
            </div>
          </div>
        </article>

        <article class="campl-content-container">
          <div class="campl-horizontal-teaser campl-teaser clearfix">
            <div class="campl-column4">
              <div class="campl-content-container campl-horizontal-teaser-img">
                <a href="#" class="campl-teaser-img-link">
                  <img alt="" src="images/focus.png" class="campl-scale-with-grid" />
                </a>
              </div>
            </div>
            <div class="campl-column8">
              <div class="campl-content-container campl-horizontal-teaser-txt">
                <header>
                  <h3 class='campl-teaser-title'>
                    <a href="#">Find a library</a>
                  </h3>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="#" class="campl-primary-cta">Read more</a>
              </div>
            </div>
          </div>
        </article>

        <div class="campl-column12">
          <div class="campl-side-padding campl-content-container">
            <hr class="campl-teaser-divider">
          </div>
        </div>

        <div class="campl-column6">
          <article class="campl-content-container">
            <div class="campl-vertical-teaser campl-teaser clearfix">
              <div class="campl-content-container campl-vertical-teaser-img">
                <a href="#" class="campl-teaser-img-link">
                  <img alt="" src="images/focus.png" class="campl-scale-with-grid" />
                </a>
              </div>
              <div class="campl-content-container campl-vertical-teaser-txt">
                <header>
                  <h3 class='campl-teaser-title'>
                    <a href="#">Using our libraries</a>
                  </h3>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="#" class="campl-primary-cta">Read more</a>
              </div>
            </div>
          </article>
        </div>

        <div class="campl-column6 campl-sub-column-left-border">
          <article class="campl-content-container">
            <div class="campl-vertical-teaser campl-teaser clearfix">
              <div class="campl-content-container campl-vertical-teaser-img">
                <a href="#" class="campl-teaser-img-link">
                  <img alt="" src="images/focus.png" class="campl-scale-with-grid" />
                </a>
              </div>
              <div class="campl-content-container campl-vertical-teaser-txt">
                <header>
                  <h3 class='campl-teaser-title'>
                    <a href="#">My account</a>
                  </h3>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="#" class="campl-primary-cta">Read more</a>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>
    <!-- End of focus items -->

    <section class="campl-column3">
      <header class="campl-content-container">
        <div class="campl-heading-container">
          <h2>Latest news</h2>
        </div>
      </header>
      <div class="campl-content-container campl-no-top-padding">
        <article class="campl-listing-item campl-news-listing clearfix">
          <header>
            <h3 class="campl-listing-title">
              <a href="#4">Traumatic childhood may increase the risk of drug addiction</a>
            </h3>
          </header>
          <span class="campl-datestamp">31 August 2012</span>
          <p>Research examines the link between a traumatic upbringing and personality traits which increase the risk of addiction.</p>
        </article>
        <article class="campl-listing-item campl-news-listing clearfix">
          <header>
            <h3 class="campl-listing-title">
              <a href="#4">Ham Hill digs enhance picture of Iron Age life</a>
            </h3>
          </header>
          <span class="campl-datestamp">30 August 2012</span>
          <p>A second season of excavations at Britain’s biggest Iron Age hill-fort has uncovered remains of Roman weaponry, and the site of the first “ham stone” house.</p>
        </article>
        <article class="campl-listing-item campl-news-listing clearfix">
          <header>
            <h3 class="campl-listing-title">
              <a href="#4">Stephen Hawking in Paralympics Opening Ceremony</a>
            </h3>
          </header>
          <span class="campl-datestamp">30 August 2012</span>
          <p>A thought-provoking extravaganza marking the beginning of the Paralympic Games was kicked off yesterday by Professor Stephen Hawking (pictured here at the Technical Rehearsal).</p>
        </article>
        <article class="campl-listing-item campl-news-listing clearfix">
          <header>
            <h3 class="campl-listing-title">
              <a href="#4">Traumatic childhood may increase the risk of drug addiction</a>
            </h3>
          </header>
          <span class="campl-datestamp">31 August 2012</span>
          <p>Research examines the link between a traumatic upbringing and personality traits which increase the risk of addiction.</p>
        </article>
        <article class="campl-listing-item campl-news-listing clearfix">
          <header>
            <h3 class="campl-listing-title">
              <a href="#4">Ham Hill digs enhance picture of Iron Age life</a>
            </h3>
          </header>
          <span class="campl-datestamp">30 August 2012</span>
          <p>A second season of excavations at Britain’s biggest Iron Age hill-fort has uncovered remains of Roman weaponry, and the site of the first “ham stone” house.</p>
        </article>

        <a href="" class="campl-secondary-cta campl-float-right">View all news</a>
      </div>
    </section>
    <!-- End of latest news -->

    <section class="campl-column3 campl-secondary-content">
      <%- include ../partials/promo.ejs %>
    </section>
    <!-- End of promo items -->
  </div>
</div>
