<!-- Page header -->
<% include ../partials/globals/page-header %>

<!-- Custom header -->
<div class="campl-row campl-page-header">

  <!-- Navigation -->
  <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
    <% include ../partials/globals/navigation %>
  </div>

  <!-- Page title -->
  <div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
    <div class="campl-content-container">
      <h2 class="campl-sub-title">My account</h2>
    </div>
  </div>
</div>

<!-- Content -->
<div class="campl-row campl-content campl-recessed-content">
  <div class="campl-wrap clearfix">
    <div class="campl-column12">
      <div class="content-container">
        <iframe class="lg-account-iframe" src="http://www.lib.cam.ac.uk/library_widget/library_widget_login.cgi" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>
