<!-- Page header -->
<% include ../partials/globals/page-header %>

<!-- Custom header -->
<div class="campl-row campl-page-header">

  <!-- Navigation -->
  <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
    <% include ../partials/globals/navigation %>
  </div>

  <!-- Page title -->
  <div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
    <div class="campl-content-container">
      <h2 class="campl-sub-title">400: Bad request</h2>
    </div>
  </div>
</div>

<!-- Content -->
<div class="campl-row campl-content campl-recessed-content">
  <div class="campl-wrap clearfix">
    <div class="campl-column8">
      <div class="campl-content-container">
        <p>We are sorry but we could not understand the request you have made. Please check all is well on your end, and try again. If you see this message again please <a href="#">get in touch</a>.</p>
      </div>
    </div>

    <div class="campl-column4 campl-secondary-content">
      <%- include ../partials/globals/promo-timetable.ejs %>
      <%- include ../partials/globals/promo-researchskills.ejs %>
    </div>
  </div>
</div>
