<!-- Page header -->
<%- partials.header %>

<!-- Custom header -->
<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
    <%- partials.navigation %>
  </div>
  <div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
    <div class="campl-content-container">
      <h2 class="campl-sub-title">404: Page not found - We need time to evolve</h2>
    </div>
  </div>
</div>

<!-- Content -->
<div class="campl-row campl-content campl-recessed-content">
  <div class="campl-wrap clearfix">
    <div class="campl-column8">
      <div class="campl-content-container">
        <img class="campl-scale-with-grid" src="/public/images/img-darwin.gif" alt="Darwin illustration by Sir Quentin Blake">
      </div>
      <div class="campl-content-container">
        <p>
          We have been working hard to redesign and rebuild our website to make it work better on mobile phones, tablets, desktops and much much more. However, you may have found a link which points to a page which has moved, or been deleted. If you have time, please could you let us know what you were looking for by getting in touch. Alternatively, please use our site search which is available at the top right of all of our pages.
        </p>
        <p>Illustration: Sir Quentin Blake.</p>
      </div>
    </div>

    <div class="campl-column4 campl-secondary-content">
      <%- include ../partials/promo-timetable.ejs %>
      <%- include ../partials/promo-researchskills.ejs %>
    </div>
  </div>
</div>
