<div class="campl-local-navigation-container">
    <ul class="campl-unstyled-list">
        <% for (node in settings.nodes) { %>
            <% if (settings.nodes[node].inNavigation ) { %>
                <li><a <% if (settings.currentNode.link === settings.nodes[node].link) { %> class="campl-selected" <% } %> href="/<%= settings.nodes[node].link %>"><%= settings.nodes[node].title %></a></li>
            <% } %>
        <% } %>
    </ul>
</div>
