<div class="campl-content-container">
  <div class="campl-vertical-teaser campl-teaser lg-teaser campl-promo-teaser">
    <div class="campl-content-container campl-vertical-teaser-txt">
      <p class='campl-teaser-title'><a href="/blogs">Library blogs</a></p>
    </div>
    <div class="campl-content-container campl-vertical-teaser-txt clearfix">
      <p>Have a look behind the scenes of your favourite libraries in Cambridge.</p>
      <a href="/blogs" class="campl-secondary-cta campl-float-right">Library blogs</a>
    </div>
  </div>
</div>
