<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>API comparison</title>
        <link href="/tests/static/shared/css/bootstrap.min.css" rel="stylesheet">
        <link href="/tests/static/shared/css/lg.css" rel="stylesheet">
        <link href="/tests/static/search/css/tests.css" rel="stylesheet">
    </head>
    <body>

        <!-- Navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/tests">Cambridge Libraries</a>
                </div>
            </div>
        </div>

        <!-- Score -->
        <div id="lg-score"><!-- --></div>

        <!-- Progress -->
        <div id="lg-search-progress" class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>

        <!-- Header -->
        <div id="lg-header" class="jumbotron">
          <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a id="btnGetResults" class="btn btn-primary btn-lg" role="button">Run the queries »</a>
                </div>
            </div>
          </div>
        </div>

        <!-- Container that holds the results -->
        <div id="lg-results" class="container"><!-- --></div>

        <!-- Score template -->
        <script type="text/template" class="tplScore">
            <div class="row">
                <% _.each(lg.apis, function(scores, api) { %>
                <div id="lg-col-score-<%= api %>" class="col col-md-<%= (12 / _.keys(lg.apis).length) %> lg-col-apis">
                    <p class="lg-col-apis-api"><%= api %></p>
                    <% _.each(scores, function(score, key) { %>
                    <p class="score score-<%= key %>"><span class="lbl"><%= key %>: </span><span class="val"><%= score %></span></p>
                    <% }); %>
                    <p class="score score-rel"><span class="lbl">rel: </span><span class="val">0</span></p>
                </div>
                <% }); %>
            </div>
        </script>

        <!-- Results template -->
        <script type="text/template" class="tplResults">
            <% _.each(lg.results, function(test, testIndex) { %>
            <div class="row">
                <div class="col-md-12">
                    <h3><%- test.title %></h3>
                </div>
                <% _.each(test.results, function(api, key) { %>
                <div class="col-md-<%= (12 / _.keys(test.results).length) %>">
                    <div class="row">
                        <div class="col-md-10">
                            <h4><%- key %></h4>
                        </div>
                        <div class="col-md-2 lg-col-increase">
                            <p><a class="btn btn-primary btnIncreaseRelativityScore" role="button" data-api="<%- key %>">+</a></p>
                        </div>
                    </div>
                    <pre><%- api.queryString %></pre>

                    <% if (!api.err) { %>
                        <p>results: <strong><%- api.numResults %></strong></p>
                        <p>time: <% if (api.queryTime) { %><strong><%- api.queryTime %>ms</strong><% } %></p>
                        <% if (api.items.length) { %>
                        <ol>
                            <% _.each(api.items, function(item, resultIndex) { %>
                            <li class="query-<%- testIndex %>-<%- resultIndex %>">
                                <strong><%- item.title %></strong><br>
                                <%- item.authors %><br>
                                <%- item.contenttype %><br><br>
                            </li>
                            <% });%>
                        </ol>
                        <% } %>
                    <% } else { %>
                        <pre class="bg-danger"><%= api.err.msg %></pre>
                    <% } %>
                </div>
                <% }); %>
            </div>
            <hr>
            <% }); %>
        </script>

        <!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/tests/static/shared/js/bootstrap.min.js"></script>
        <script src="/tests/static/shared/js/underscore.min.js"></script>
        <script src="/tests/static/search/js/search.js"></script>
    </body>
</html>
