.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

a,
.library,
.btn {
  transition: background 150ms;
}

dl {
  margin: 0;

  dt {
    padding-top: 10px;
    margin-bottom: 4px;
    &:first-child {
      padding-top: 0;
    }
  }

  dd {
    margin-left: 0;
  }
}
