.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.lg-wrap {
  word-wrap: break-word;
}

.lg-teaser {
  overflow: hidden;
}

.lg-global-footer {
  border-top: 25px solid #003E74;
}

.lg-account-iframe {
  width: 100%;
  min-height: 500px;
}
