.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

a,
.library,
.btn {
  transition: background 150ms;
}

dl {
  margin: 0;

  dt {
    padding-top: 10px;
    margin-bottom: 4px;
    &:first-child {
      padding-top: 0;
    }
  }

  dd {
    margin-left: 0;
  }
}

.lg-btn-link {
  color: #0072CF;
  background: none;
  font: inherit;
  text-align: left;
  padding: 0;
  border: none;
  margin: 0;
  &:hover {
    text-decoration: underline;
  }
}

.lg-global-footer {
  border-top: 25px solid #003E74;
}

/**
 * Improvements for the project light search box
 */
.lg-search-input {
  position: relative;
}

.lg-search-submit {
  position: relative;
  z-index: 1;
}

.lg-search-input-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-right: 57px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  input {
    width: 100%;
    padding: 12px 8px;
  }
}

/**
 * Combined select/input component, depends on default project light searchbox
 * styles.
 */
.lg-search-combo-select-input {
  select {
    position: relative;
    width: 130px;
    height: 100%;
    z-index: 1;
    margin: 0;
  }

  .lg-search-input-wrap {
    padding-left: 135px;
  }
}

