/**
 * Library map info window
 */
.lg-library-info {
  width: 300px;
  margin: 5px 10px;
}

.lg-library-info a:visited {
  color: #0072CF;
}

.lg-library-info-btns {
  margin-top: 15px;
  padding-top: 7px;
  border-top: 1px solid #D6D6D6;
  overflow: hidden;
}

/**
 * Map controls for library profile
 */
.lg-map-control {
  min-height: 32px;
  margin-top: 2px;
  padding-top: 6px;
  padding-bottom: 8px;
  overflow: hidden;
  background: #E4E4E4;

  button {
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }
}

/**
 * Google map wrappers
 */
.lg-libraries-maps-container {
  position: absolute;
  right: 0;
  width: 75%;
  height: 100%;
}

.lg-library-profile-maps-outer {
  position: relative;
  overflow: hidden;
}

.lg-library-profile-maps-container {
  min-height: 300px;
}

@media (max-width: 767px), print {
  .lg-libraries-maps-container {
    display: none;
  }
}

@media print {
  .lg-map-control {
    display: none;
  }

  .lg-library-profile-maps-container a[href]:after {
    content: normal;
  }
}
