.btn,
.dropdown-menu {
  border-radius: 0;
}

.lg-libraries-panel {
  word-wrap: break-word;
}

.lg-filters {
  padding: 10px;
  background: #F3F3F3;
  border-bottom: 1px solid #C4CBCC;
}

.lg-libraries {
  height: 550px;
  margin-bottom: 0;
  overflow-y: auto;
  border: none;
  border-radius: 4px;
  -webkit-overflow-scrolling: touch;
}

.lg-library {
  overflow: hidden;
  font-size: .85em;
  border-right-style: none;
  border-left-style: none;
  cursor: pointer;

  &:hover {
    background: #F8F8F8;
  }

  &:first-child {
    border-top-style: none;
  }

  &:last-child {
    border-bottom-style: none;
  }
}

.lg-library-info {
  width: 300px;
  margin: 5px 10px;
}

.lg-library,
.lg-library-info {
  a:visited {
    color: #0072CF;
  }
}

// Overwrite bootstrap active item colour
.list-group-item {
  &.active,
  &.active:hover,
  &.active:focus {
    background-color: #EAF0F6;
  }
}

.maps-container {
  position: absolute;
  right: 0;
  width: 75%;
  height: 100%;
}

.lg-dropdown-selector {
  button {
    color: #FFFFFF;
    background: #004e8f url(../images/interface/bg-local-navigation-sub-arrow.png) no-repeat 95% 50%;
    padding:10px 40px 10px 10px;

    &:hover,
    &:active,
    &:focus {
      color: #FFFFFF;
      background-color: #002e55;
    }
  }

  ul {
    background: none;
    padding: 0;

    a {
      background: #002e55;
      border-bottom:1px solid #004e8f;
      color: #FFFFFF;
      padding: 10px 40px 10px 10px;

      &:hover,
      &:active,
      &:focus {
        color: #FFFFFF;
        background-color: #004e8f;
      }
    }
  }

  li:last-child a {
    border-bottom:0;
  }
}

/**
 * Turn the alphabet dropdown selector list into a grid
 */
.lg-dropdown-selector-alphabet {
  ul {
    min-width: 128px;
    padding: 0;
  }

  li {
    float: left;

    a {
      padding: 7px 4px;
      width: 34px;
      border-right: 1px solid #004e8f;
      border-bottom: 1px solid #004e8f;
      text-align: center;
    }

    // The last item of each row doesn't need a border-right
    &:nth-child(3n+3) a {
      border-right: none;
    }

    // The last three items in the list don't need a border-bottom
    &:nth-child(n+25) a {
      border-bottom: none;
    }
  }
}

.lg-library-info-btns {
  margin-top: 15px;
  padding-top: 7px;
  border-top: 1px solid #D6D6D6;
  overflow: hidden;
}

@media (max-width: 767px) {
  .maps-container {
    display: none;
  }

  // Add more weight to overwrite default style
  .campl-content .lg-libraries-panel {
    display: block;
    margin-top: 0;
  }

  .lg-filters li {
    margin: 0;
  }

  .lg-libraries {
    height: auto;
    min-height: 100px;
  }
}
