.lg-nav-tabs {
  margin: 0;
  li a {
    border-radius: 0;
  }
}

.lg-search-result {
  margin: 0;

  .lg-resource-img {
    background: none;
    padding: 20px;

    img {
      max-height: 135px;
      max-width: 100%;
    }
  }

  .lg-resource-properties {
    padding-bottom: 20px;

    li {
      padding: 3px 0;
      border-bottom: none;

      &:first-child {
        padding: 0 0 3px 0;
      }

      &:last-child {
        padding: 3px 0 0 0;
      }
    }
  }
}
