.lg-resource-img {
  background: #E4E4E4;
  text-align: center;
  padding: 20px 15px;
  box-sizing: border-box;
}

.lg-resource-properties {
  list-style-type: none;
  margin: 0;

  > li {
    overflow: hidden;
    border-bottom: 1px solid #DFDFDF;
    padding: 10px 0;

    &:first-child {
      padding: 0 0 10px 0;
    }
  }

  h4 {
    float: left;
    padding-right: 35px;
    font-size: 1.2em;
    margin: 0;
  }

  ul {
    list-style-type: none;
    float: right;
    text-align: right;
    margin: 0;

    li {
      line-height: 21px;
    }
  }
}

@media (max-width: 767px) {
  .lg-resource-properties {
    h4, ul {
      float: none;
      text-align: left;
    }

    h4 {
      margin-bottom: 10px;
    }
  }
}
