<div class="campl-row campl-local-footer">
  <div class="campl-wrap clearfix">
    <div class="campl-column3 campl-footer-navigation">
      <div class="campl-content-container campl-navigation-list">
        <h3><a href="">Explore</a></h3>
        <ul class="campl-unstyled-list">
          <li>
            <a href="">New books</a>
          </li>
          <li>
            <a href="">Library Toolbox</a>
          </li>
          <li>
            <a href="">Skills portal</a>
          </li>
          <li>
            <a href="">The Newton Toolbar</a>
          </li>
          <li>
            <a href="">Computing Service</a>
          </li>
          <li>
            <a href="">Job opportunities</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="campl-column3 campl-footer-navigation">
      <div class="campl-content-container campl-navigation-list">
        <h3><a href="">Libraries</a></h3>
        <ul class="campl-unstyled-list">
          <li>
            <a href="#">University Library</a>
          </li>
          <li>
            <a href="#">Affiliated libraries</a>
          </li>
          <li>
            <a href="#">Departmental and faculty libraries</a>
          </li>
          <li>
            <a href="#">College libraries</a>
          </li>
          <li>
            <a href="#">Other libraries</a>
          </li>
          <li>
            <a href="#">Information for librarians</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="campl-column3 campl-footer-navigation">
      <div class="campl-content-container campl-navigation-list">
        <h3><a href="">Find</a></h3>
        <ul class="campl-unstyled-list">
          <li>
            <a href="#">Term dates</a>
          </li>
          <li>
            <a href="#">Schools, faculties, departments</a>
          </li>
          <li>
            <a href="#">Cambridge terminology</a>
          </li>
          <li>
            <a href="#">Info about plagiarism</a>
          </li>
          <li>
            <a href="#">Info about copyright</a>
          </li>
          <li>
            <a href="#">Scanning & copying</a>
          </li>
          <li>
            <a href="#">Your webmail</a>
          </li>
          <li>
            <a href="#">University maps</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="campl-column3 campl-footer-navigation last">
      <div class="campl-content-container campl-navigation-list">
        <h3><a href="">Try</a></h3>
        <ul class="campl-unstyled-list">
          <li>
            <a href="#">DSpace @ Cambridge</a>
          </li>
          <li>
            <a href="#">Science @ Cambridge</a>
          </li>
          <li>
            <a href="#">Streaming Media Service</a>
          </li>
          <li>
            <a href="#">CamSIS</a>
          </li>
          <li>
            <a href="#">IT training courses</a>
          </li>
          <li>
            <a href="#">CamTools</a>
          </li>
          <li>
            <a href="#">RSS feeds</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="campl-row campl-global-footer">
  <div class="campl-wrap clearfix">
    <div class="campl-column3 campl-footer-navigation">
      <div class="campl-content-container campl-footer-logo">
        <img alt="University of Cambridge"  src="/components/project-light/images/interface/main-logo-small.png" class="campl-scale-with-grid" />
        <p>&#169; 2013 University of Cambridge</p>
          <ul class="campl-unstyled-list campl-global-footer-links">
            <li>
              <a href="http://www.cam.ac.uk/university-a-z">University A-Z</a>
            </li>
            <li>
              <a href="http://www.cam.ac.uk/contact-the-university">Contact the University</a>
            </li>
            <li>
              <a href="http://www.cam.ac.uk/about-this-site/accessibility">Accessibility</a>
            </li>
            <li>
              <a href="http://www.admin.cam.ac.uk/univ/information/foi/">Freedom of information</a>
            </li>
            <li>
              <a href="http://www.cam.ac.uk/about-this-site/terms-and-conditions">Terms and conditions</a>
            </li>
          </ul>
      </div>
    </div>
    <div class="campl-column3 campl-footer-navigation">
      <div class="campl-content-container campl-navigation-list">

        <div class="link-list">
          <h3><a href="">Study at Cambridge</a></h3>
          <ul class="campl-unstyled-list">
            <li>
              <a href="http://www.study.cam.ac.uk/undergraduate/">Undergraduate</a>
            </li>
            <li>
              <a href="http://www.admin.cam.ac.uk/students/gradadmissions/prospec/">Graduate</a>
            </li>
            <li>
              <a href="http://www.cam.ac.uk/about-the-university/international-cambridge/studying-at-cambridge">International students</a>
            </li>
            <li>
              <a href="http://www.ice.cam.ac.uk">Continuing education</a>
            </li>
            <li>
              <a href="http://www.admin.cam.ac.uk/offices/education/epe/">Executive and professional education</a>
            </li>
            <li>
              <a href="http://www.educ.cam.ac.uk">Courses in education</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="campl-column3 campl-footer-navigation">
      <div class="campl-content-container campl-navigation-list">
        <h3><a href="http://www.cam.ac.uk/about-the-university">About the University</a></h3>
        <ul class="campl-unstyled-list campl-page-children">
          <li>
            <a href="http://www.cam.ac.uk/about-the-university/how-the-university-and-colleges-work">How the University and Colleges work</a>
          </li>
          <li>
            <a href="http://www.cam.ac.uk/about-the-university/visiting-the-university">Visiting the University</a>
          </li>
          <li>
            <a href="http://map.cam.ac.uk">Map</a>
          </li>
          <li>
            <a href="http://www.cam.ac.uk/news">News</a>
          </li>
          <li>
            <a href="http://www.admin.cam.ac.uk/whatson">Events</a>
          </li>
          <li>
            <a href="http://www.jobs.cam.ac.uk">Jobs</a>
          </li>
          <li>
            <a href="http://www.philanthropy.cam.ac.uk">Giving to Cambridge</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="campl-column3 campl-footer-navigation last">
      <div class="campl-content-container campl-navigation-list">
        <h3><a href="http://www.cam.ac.uk/research">Research at Cambridge</a></h3>
        <ul class="campl-unstyled-list">
          <li>
            <a href="http://www.cam.ac.uk/research/news">News</a>
          </li>
          <li>
            <a href="http://www.cam.ac.uk/research/features">Features</a>
          </li>
          <li>
            <a href="http://www.cam.ac.uk/research/discussion">Discussion</a>
          </li>
          <li>
            <a href="http://www.cam.ac.uk/research/spotlight-on">Spotlight on...</a>
          </li>
          <li>
            <a href="http://www.cam.ac.uk/research/research-at-cambridge">About research at Cambridge</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
