<div class="campl-local-navigation-container">
    <ul class="campl-unstyled-list">
        <% for (node in nodes) { %>
            <li><a <% if (currentNode.link === nodes[node].link) { %> class="campl-selected" <% } %> href="/<%= nodes[node].link %>"><%= nodes[node].title %></a></li>
        <% } %>
    </ul> 
</div>
