<div class="campl-pagination campl-pagination-centered">
  <ul>

    <!-- Previous -->
    <% if (previous) { %>
      <li class="campl-previous-li">
        <a href="#" class="ir campl-pagination-btn campl-previous"><span class="campl-arrow-span"></span>previous</a>
      </li>
    <% } %>

    <!-- Range -->
    <% for (page in range) { %>
      <li<% if (current === range[page]) { %> class="campl-active"<% } %>>
        <a href="?page=<%= range[page] %>"><%= range[page] %></a>
      </li>
    <% } %>

    <!-- Next -->
    <% if (next) { %>
      <li class="campl-next-li">
        <a href="#" class="ir campl-pagination-btn campl-next"><span class="campl-arrow-span"></span>next</a>
      </li>
    <% } %>
  </ul>
</div>
