<div class="campl-content-container">
  <div class="campl-vertical-teaser campl-teaser campl-promo-teaser">
    <div class="campl-content-container campl-vertical-teaser-txt">
      <p class='campl-teaser-title'><a href="#">Timetable</a></p>
    </div>
    <div class="campl-content-container campl-vertical-teaser-img">
      <a href="https://www.timetable.cam.ac.uk" target="_blank" class="campl-teaser-img-link"><img alt="Timetable" src="/public/images/promo-timetable.png" class="campl-scale-with-grid" /></a>
    </div>
    <div class="campl-content-container campl-vertical-teaser-txt clearfix">
      <p>Your personalised University Timetable, to get started:</p>
      <ol>
        <li>Go to <a href="https://www.timetable.cam.ac.uk" target="_blank">the timetable site</a></li>
        <li>Sign in</li>
        <li>Add your courses</li>
        <li>Print or export your timetable</li>
      </ol>
    </div>
  </div>
</div>
