<div class="campl-content-container">
  <div class="campl-vertical-teaser campl-teaser campl-promo-teaser">
    <div class="campl-content-container campl-vertical-teaser-txt">
      <p class='campl-teaser-title'><a href="#">Research skills</a></p>
    </div>
    <div class="campl-content-container campl-vertical-teaser-img">
      <a href="http://www.lib.cam.ac.uk/courses" target="_blank" class="campl-teaser-img-link"><img alt="Research skills" src="/public/images/promo-research.jpg" class="campl-scale-with-grid" /></a>
    </div>
    <div class="campl-content-container campl-vertical-teaser-txt clearfix">
      <p>Designed to offer training and support to readers working at every level, from undergraduate to researcher, the Research Skills Programme covers  variety of topics and formats.</p>
      <p>Practical, hands-on information skills sessions include tips and strategies for searching online, conducting a literature search, and managing information</p>
      <a href="http://www.lib.cam.ac.uk/courses/" class="campl-secondary-cta campl-float-right" target="_blank">Research Skills Programme</a>
    </div>
  </div>
</div>
