<label for="input-find-a-resource" class="hidden">Search for a resource</label>
<div class="campl-search-input lg-search-input lg-search-combo-select-input">
  <select class="lg-combo-select" name="format">
    <option value="all">all types</option>
    <% for (format in data.formats) { %>
      <% if (data.formats[format].displayInSearch) { %>
        <option value="<%= format %>" <% if (data.query) { if (format === data.query.format) { %>selected<% } } %>><%= format %></option>
      <% } %>
    <% } %>
  </select>
  <div class="lg-search-input-wrap">
    <input type="text" id="input-find-a-resource" name="q" placeholder="e.g. 'Charles Darwin'"<% if (data.query && data.query.q) { %>value="<%= data.query.q %>"<% } %>/>
  </div>
  <input type="image" class="campl-search-submit lg-search-submit" alt="Search" src="/public/images/interface/btn-search-inpage.png" />
</div>
